{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}

    <div class="auth-container">
        <div class="auth-form">
            <h2 class="text-center">Register</h2>
            <form action="{% url 'auth_api:register' %}" method="POST" id="register-form">
                {% csrf_token %}
                <div id="error-message" class="alert alert-danger d-none"></div>

                <input type="text" name="username" placeholder="Username" required>
                <div id="username-error" class="alert alert-danger d-none"></div>

                <input type="email" name="email" placeholder="Email" required>
                <div id="email-error" class="alert alert-danger d-none"></div>

                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
     <script src="{% static 'js/auth/register.js' %}"></script>
{% endblock %}
